@import "../../scss/placeholders";
@import "../../scss/variables";

.wrapper {
  position: relative;
  width: 100%;
}

.title {
  margin-top: 40px;
  margin-bottom: 8px;

  color: $grey-1;
  text-align: center;
  font-family: 'D-DIN Exp', sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 1.07;
}

.text {
  margin-bottom: 60px;
  color: $grey-2;

  text-align: center;
  font-family: 'D-DIN Exp', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.07;
}

.fractionWrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;

  max-width: 1000px;
  width: 100%;
}

.btnNext {
  @extend %carouselBtn;

  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.btnPrev {
  @extend %carouselBtn;

  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.carouselText {
  color: #F8FBFF;
  opacity: 0.3;
  font-family: 'D-DIN Exp', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.08;
}

